.button {
    display: inline-block;
    margin-right: 28px;
    border: 1px solid#6FCB85;
    border-radius: 5px;
    font-size: 16px;
    line-height: inherit;
    font-family: inherit;
    padding: 11px 20px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .button:hover {
    text-decoration: none;
  }
  
  .button:focus {
    outline: none;
  }
  .button-full {
    width: 100%;
  }
  .button-primary {
    color: #6FCB85;
    background-color: transparent;
  }
  .button-primary:hover {
    color: #ffffff;
    background-color: #6FCB85;
    border-color: #6FCB85;
  }