.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -10px;
  }
  
  .row > .column {
    padding: 10px;
  }
  .row-none {

    margin: 0px;
  }
  
  .row-none > .column {
    padding: 0px;
  }
  