
@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon.eot?chlw4w');
    src:  url('../../fonts/icomoon.eot?chlw4w#iefix') format('embedded-opentype'),
      url('../../fonts/icomoon.ttf?chlw4w') format('truetype'),
      url('../../fonts/icomoon.woff?chlw4w') format('woff'),
      url('../../fonts/icomoon.svg?chlw4w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  }
  
  .icon-dash:before {
    content: "\e900";
  }
  .icon-users:before {
    content: "\e901";
  }
  .icon-supermarket:before {
    content: "\e902";
  }
  .icon-uni:before {
    content: "\e903";
  }
  